* {
  --color-light: #45b4dd;
  --color-dark: #349feb;
}

.container {
  width: 400px;
  max-width: 100%;
  margin: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 16px;
}

.body {
  width: 100%;
  border: none;
  box-shadow: 1px 1px 5px -1px rgba(0, 0, 0, 0.5);
  background-color: white;
  border-radius: 16px;
  overflow: hidden;
}

.body > div {
  padding: 12px;
}

.top {
  background: linear-gradient(90deg, var(--color-light), var(--color-dark));
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 999px;
  border: 2px solid white;
}

.partner {
  color: white;
  font-weight: 600;
  font-size: 14px;
}

.messages {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.today {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
}

.messageGroup {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.myMessage,
.partnerMessage {
  display: flex;
  gap: 12px;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
}
.myMessage {
  flex-direction: row;
}
.partnerMessage {
  flex-direction: row-reverse;
}

.timestamp {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
}
.myMessageText,
.partnerMessageText {
  padding: 8px 12px;
  border-radius: 8px;
  font-size: 14px;
}
.myMessageText {
  background-color: var(--color-dark);
  color: white;
}
.partnerMessageText {
  background-color: rgba(0, 0, 0, 0.1);
}

.partnerMessage:first-child:not(:only-child) > .partnerMessageText {
  border-bottom-left-radius: 0px;
}
.partnerMessage:last-child:not(:only-child) > .partnerMessageText {
  border-top-left-radius: 0px;
}

.myMessage:first-child:not(:only-child) > .myMessageText {
  border-bottom-right-radius: 0px;
}
.myMessage:last-child:not(:only-child) > .myMessageText {
  border-top-right-radius: 0px;
}

.input {
  background-color: #ebf6fd;
  position: relative;
}

.inputBox {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 12px;
  font-size: 14px;
}
.inputBox:focus {
  outline: 2px solid var(--color-light);
}

.inputIcons {
  position: absolute;
  right: 0;
  top: 20px;
  right: 24px;
  display: flex;
  flex-direction: row;
  gap: 9px;
}

.inputIcon {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in;
}
.inputIcon:hover {
  color: rgba(0, 0, 0, 0.4);
}

.floatingIcon {
  width: 48px;
  height: 48px;
  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-dark);
}
